# Chicago Crime Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\DELL\Desktop\Projects\Chicago Crime Analyzer\Crimes_-_2001_to_Present.csv')

In [3]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,08/25/2007 09:22:18 AM,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,49.0,1.0,08A,NaN,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,25953,JE240540,05/24/2021 03:06:00 PM,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,36.0,19.0,01A,1141387.0,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,06/26/2021 09:24:00 AM,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,50.0,13.0,01A,1152781.0,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,11/09/2023 07:30:00 AM,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,47.0,5.0,05,1162518.0,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,11/12/2023 07:59:00 AM,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,6.0,44.0,08B,1183071.0,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)"

# EDA-Exploratory Data Analysis

In [4]:
df.shape

(8077151, 22)

In [5]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [6]:
df.isnull().sum()

ID                           0
Case Number                  0
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     13087
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614846
Community Area          613470
FBI Code                     0
X Coordinate             88958
Y Coordinate             88958
Year                         0
Updated On                   0
Latitude                 88958
Longitude                88958
Location                 88958
dtype: int64

In [7]:
df1 = df.dropna()

In [8]:
df1.isnull().sum()

ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [9]:
df1.duplicated().sum()

0

In [10]:
df.shape, df1.shape

((8077151, 22), (7373082, 22))

In [11]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,7373082.0,7.690144e+06,3.389041e+06,634.000000,4.672672e+06,7.700412e+06,1.071455e+07,1.348378e+07
Beat,7373082.0,1.181037e+03,7.027739e+02,111.000000,6.210000e+02,1.034000e+03,1.724000e+03,2.535000e+03
District,7373082.0,1.128699e+01,6.954011e+00,1.000000,6.000000e+00,1.000000e+01,1.700000e+01,3.100000e+01
Ward,7373082.0,2.275423e+01,1.385002e+01,1.000000,1.000000e+01,2.300000e+01,3.400000e+01,5.000000e+01
Community Area,7373082.0,3.744582e+01,2.153468e+01,0.000000,2.300000e+01,3.200000e+01,5.700000e+01,7.700000e+01
X Coordinate,7373082.0,1.164629e+06,1.685019e+04,0.000000,1.152976e+06,1.166166e+06,1.176399e+06,1.205119e+06
Y Coordinate,7373082.0,1.885737e+06,3.228870e+04,0.000000,1.858942e+06,1.890745e+06,1.909207e+06,1.951573e+06
Year,7373082.0,2.011169e+03,6.321166e+00,2001.000000,2.006000e+03,2.010000e+03,2.016000e+03,2.024000e+03
Latitude,7373082.0,4.184206e+01,8.883184e-02,36.619446,4.176835e+01,4.185596e+01,4.190663e+01,4.202271e+01
Longitude,7373082.0,-8.767139e+01,6.110215e-02,-91.686566,-8.771367e+01,-8.766571e+01,-8.762807e+01,-8.752453e+01

In [12]:
df1.ID.max(),df1.Beat.max(),df1.District.max()

(13483783, 2535, 31.0)

In [13]:
df1 = (display.max_columns)

AttributeError: 'function' object has no attribute 'max_columns'

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
def plot(df1, column):
    plt.figure(figsize=(20,5))
    plt.subplot(1,2,1)
    sns.boxplot(data=df1, x=column)
    plt.title(f'Box Plot for {column}')

    plt.subplot(1,2,2)
    sns.histplot(data=df1, x=column, kde=True, bins=50)
    plt.title(f'Distribution Plot for {column}')

In [ ]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [ ]:
continuous_clms = ["ID",	"Beat",	"District",	"Ward",	"Community Area",	"X Coordinate",	"Y Coordinate",	"Year",	"Latitude",	"Longitude"]
for i in continuous_clms:
    plot(df, i)